* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
  margin-left: auto;
  height: 60px;
  padding-right: 15px;
}

#hero {
  max-width: 350px;
  width: 100%;
  object-fit: contain;
  
}

a {
  text-decoration: none;
  color: black
}

nav>a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 25px;
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

input {
  width: 80%;
  padding: 12px 45px;
  padding-right: 70px;
  border-radius: 20px;
  border: 1px solid buttonface;
  outline: none;
  background: url("./Assets/search.svg") no-repeat, url(./Assets/google-voice.png) no-repeat, url(./Assets/google-lens.png) no-repeat;
  background-position: left 15px top 12px, right 45px top 12px, right 15px top 12px;
  background-size: 16px;
}

input:hover {
  cursor: text;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.btn-section {
  margin-top: 10px;
}

.btn-section button {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  margin: 5px;
}

.btn-section button:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-section button:active {
  border: 1px solid #4285f4;
}

footer {
  background-color: buttonface;
  /* height: 100px; */
}

.footer-top {
  padding: 16px;
}

.footer-top p {
  font-size: 16px;
  line-height: 1;
}

.footer-bottom {
  padding: 16px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.center {
  translate: -50%;
  left: 50%;
  position: absolute;
}

@media screen and (max-width:1200px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .center {
    position: static;
    translate: 0;
  }
}

.external-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  /* .center {
    display: none;
  } */
  .external-links {
    justify-content: space-around;
  }
}

.left, .right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 660px) {
  .external-links {
    flex-direction: column;
  }
  .left, .right {
    justify-content: center;
  }
}

.footer-bottom a {
  margin-right: 1em;
  padding: 10px 0;
  display: block;
}